{% extends "blog/base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="display-4 text-center">About Us</h1>
                <p class="lead text-center">
                    Welcome to our blog! We are passionate about sharing knowledge, experiences, and ideas through our writing. Our goal is to provide insightful, informative, and engaging content that resonates with our readers.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
